.card-deck .card {
    display: block;
    flex-basis: 33.3%; /* change this value for each breakpoint*/
    text-align: center;
}

.pokemon-title {
    text-align: center;
    text-transform: capitalize;
}